.radio_v{
    display: inline-block;
    border: 1px dashed rgb(204, 239, 252);
    margin: 2px ;
    background-color: rgb(240, 246, 248);
    padding: 2px 5px;
    cursor: pointer;
    font-weight: 100;
}
.radio_v.radio_active{
    border: 1px solid rgb(166, 225, 247);
    background-color: rgb(163, 199, 211);
}
.radio_v:hover{
    background-color: rgb(187, 217, 230);

}
